@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.fl{
  float: left;
}
.fr{
  float: right;
}
//main-container全局样式
.app-main{
  min-height: 100%;
  padding: 20px 40px;

}
.main-container{
  .el-dropdown{
    font-size: 18px;
    .svg-icon{
      width: 1.3em;
      height: 1.3em;
      vertical-align: -0.3em;
    }
  }
}
.app-container {
  // padding: 20px;
  form{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 22px 20px 0 20px;
    position: relative;
    .search-row{
      width: 85%;
    }
    .el-form-item__label{
      text-align: justify;
      text-align-last: justify;
      position: relative;
    }
    .el-form-item__content{
      margin-right: 20px;
    }
    .btn{
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      .el-button+.el-button{
        margin: 0;
      }
      .el-form-item__content{
        height: 100%;
        @include flex();
        @include flex-direction-column();
        @include justify-content-space-between();
        @include align-items-center();
        .el-button--primary{
          background-color: #00CC74;
          border-color: #00CC74;
        }
        .el-button{
          width: 120px;
        }
      }
    }
    .div-warp{
      @include flex();
      @include justify-content-space-between();
      .item-half{
        width: 45%;
      }
    }
  }
  .el-row{
    margin: 20px 0;
    .el-button--primary{
      width: 120px;
      background-color: #00CC74;
      border-color: #00CC74;
    }
    .create{
      float: left;
    }
    .upload-demo{
      float: left;
      margin-left: 20px;
      .el-upload-list{
        display: none;
      }
    }
  }
  .el-table{
    .el-table__header-wrapper{
      .el-table__header{
        th.is-leaf{
          background-color: #f5f5f5;
        }
      }
    }
    .el-table__body-wrapper{
      .is-plain{
        background-color: #fff;
        &:hover,
        &:focus,
        &:active{
          color: #3a8ee6;
        }
      }
      .del{
        &:hover,
        &:focus,
        &:active{
          color: #606266;
          border: 1px solid #adadad;
        }
      }
    }
    
  }
  .el-table--enable-row-hover{
    .el-table__body{
      tr{
        &:hover>td{
          background-color: #e7f3fc;
          &:first-child{
            border-left: 6px solid #3a8ee6;
          }
        }
      } 
    } 
  }
  .pagination{
    text-align: center;
    margin: 30px 0 40px;
    .btn-next,
    .btn-prev{
      background-color: #edeff3;
      color: #3a8ee6;
    }
    .el-pager{
      .el-icon-more{
        color: #3a8ee6;
      }
      .number{
        color: #3a8ee6;
        border: 1px solid #dedede;
      }
      li{
        margin: 0 2px;
        &:not(.disabled){
          &.active{
            background-color: #00CC74;
          }
        }
      }
    }
    .el-pagination__jump{
      margin-left: 10px;
      .el-input__inner{
        color: #3a8ee6;
        padding-right: 15px;
      }
    }
  }

  .el-form-item.is-required .el-form-item__label:before{
    position: absolute;
    left: -10px;
    top: 2px;
  }
  .clearfix{
    .el-input--suffix{
      .el-input__inner{
        padding-right: 15px;
      }
    }
  }
  .demo-ruleForm{
    .el-input--suffix{
      .el-input__inner{
        padding-right: 35px;
      }
    }
  }
  .input-flex{
    .el-form-item__content{
      @include flex();
      .el-input{
        width: 60%;
      }
      span{
        margin-left: 10px;
      }
    }
  }

}

.el-dialog__wrapper{
  .el-dialog{
    border-radius: 10px;
    .el-dialog__header{
      text-align: center;
      background-color: #108EE9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .el-dialog__title{
        color: #fff;
      }
      .el-icon-close{
        color: #fff;
        font-size: 30px;
        margin-top: -7px;
      }
    }
    .el-dialog__body{
      .el-form{
        // padding: 0;
      }
    }
    .el-dialog__footer{
      padding: 10px 60px 20px;
      .el-button{
        width: 120px;
      }
    }
  }
}